@font-face {
    font-family: 'calibriregular';
    src: url('calibri-webfont.eot');
    src: url('calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibri-webfont.woff') format('woff'),
         url('calibri-webfont.ttf') format('truetype'),
         url('calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibribold';
    src: url('calibrib-webfont.eot');
    src: url('calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibrib-webfont.woff') format('woff'),
         url('calibrib-webfont.ttf') format('truetype'),
         url('calibrib-webfont.svg#calibribold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibriitalic';
    src: url('calibrii-webfont.eot');
    src: url('calibrii-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibrii-webfont.woff') format('woff'),
         url('calibrii-webfont.ttf') format('truetype'),
         url('calibrii-webfont.svg#calibriitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.hero {
	background-image: url(../img/hero_img.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 558px;
}

.hero h1, .hero p {
	color: #fff;
	text-align: center;
	text-transform:;
}

.hero h1 {
	margin-top: 50px;
	text-transform: uppercase;
	font-weight: bold;
	
}
.hero p {
	font-weight: bold;
	font-size: 33px;
	border-top: dotted 2px #fff;
	width: 50%;
	margin: 0 auto 60px auto;
	padding-top: 20px;
}
.hero a {
	margin: 0 auto;
}
.herobtn {
	background-image: url(../img/blue_arrow.png);
	background-position: right;
	background-repeat: no-repeat;
	height: 75px;
	width: 50%;
	font-size: 22px;
	text-transform: uppercase;
	padding: 0px 20px;
	text-align: left;
	display: block;
	line-height: 75px;
	letter-spacing: 2px;

}
.lrg_copy {
	margin: 20% 0 5% 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
#brands {
	background-image: url(../img/brands.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: auto;

}
#brands h3 {
	color: #555555;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-top: 80px;
}

#brands span {
	font-style: italic;
}
#brands a {
	margin-top: 54%;
}

#AOL {
	height: auto;
	background-image: url(../img/aol_logo_BG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 10%;
}
#AOL p {
	text-align: center;
	font-size: 24px;
	color: #1f394f;
}
#scale {
	height: auto;
	background-image: url(../img/scale_career.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#careers {
	height: auto;
	background-color: #00aeef;
	padding-bottom: 30px;
}
#careers h4 {
	font-size: 2.5rem;
	color: #fff;
	text-align: center;
	margin: 50px 0px 50px 0px;
}
#careers a {
	font-size: 1.5rem;
	color: #fff;
	text-transform: uppercase;
	line-height: 65px;
	background-color: ;
}
#careers div .columns {
	height: 65px;
	background-color: #363636;
	width: 360px;
	margin-bottom: 8px;
	background-image: url(../img/careers_arrow.png);
	background-position: right;
	background-repeat: no-repeat;
}
#careers div .columns:nth-child(3), #careers div .columns:nth-child(5) {
	float: right;
}
#office {
	height: auto;
	background-image: url(../img/office_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	
}

#map {
	height: 615px;
	background-image: url(../img/map_PH.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px 120px;
}
#map h3 {
	text-align: center;
	color: #fff;
	line-height: 295%;
	margin: 0;
}
.gray_bg {
	background-color: #3c3d3d;
}
#free-thinking {
	height: auto;
	background-image: url(../img/free_thinking.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	
}
#twenty-five {
	height: auto;
	background-image: url(../img/25.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	padding: 15% 0;
}
#transform {
	height: auto;
	background-image: url(../img/transforming.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
footer {
	height: auto;
	background-color: #cccccc;
}
footer h1 {
	margin: 5% 0;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}
footer h6 {
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	color: #000;
	font-weight: bold;
	margin-bottom: 20px;
}
footer .row {
	padding-bottom: 50px;
}
footer .columns {
	border-left: 1px solid #a4a4a4;
	height: 240px;
}
footer	.columns:last-child {
	border-right: 1px solid #a4a4a4;
}
footer ul {
	list-style: none;
	text-align: center;
	text-transform: uppercase;
	color: #636363;
	margin: 0;
}
footer p {
		text-align: center;
		text-transform: uppercase;
		color: #636363;
}
footer li {
	margin-bottom: 10px;
}
#legal {
	background-color: #000;
	padding: 20px 0px 10px 20px;
}
#legal ul {
	text-align: center;
	color: #fff;
	font-size: 12px;
	text-transform: none;

}
#legal li {
	display: inline-block;
	margin-right: 10px;
}
#legal a {
	color: #fff;
}
#legal a:hover {
	text-decoration: underline;
}
.button.round {
	background-color: #959595;
	width: 262px;
	height: 73px;
	line-height: 73px;
	font-weight: bold !important;
	font-size: 36px;
	padding: 0;
	margin: 0 auto;
	display: block;
	padding-left: 40px;
	letter-spacing: 1px;
	background-image: url(../img/red_arrow.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
	margin-bottom: 10%;
}
.slide {
	background-image: url(../img/slide_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	background-position: center;

}
.close {
	float: right;
	cursor: pointer;
}
@media only screen and (max-width: 40.063em) {
	#AOL p {
		text-align: center;
		font-size: 16px;
		color: #1f394f;
	}
	.herobtn {
		height: 75px;
		width: 300px;
		font-size: 18px;
		line-height: 1;
		padding-top: 7%;
		

	}
	.hero p {
		width: 75%;
	}
	.slide {
		background-position: right;
	}
	.button.round {
		width: 200px;
		height: 60px;
		line-height: 60px;
		font-size: 24px;
		background-position: 6px center;
	}
	#careers div .columns {
		width: 100%;
	}
	#careers a {
		font-size: 1.25rem;
	}
	footer ul, footer h6, footer p {
		font-size: 12px;
	}
	footer .columns {
		height: 280px;
	}
}
